@font-face {
  font-family: 'RubikBubbles';
  src: 
  url('@/assets/fonts/RubikBubbles/RubikBubbles-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pacifico';
  src: 
  url('@/assets/fonts/Pacifico/Pacifico-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}